{{- $init := promptBoolOnce . "init" "run init script" }}
{{- $gui := promptBoolOnce . "gui" "Install GUI tools" }}
{{- $bun := promptBoolOnce . "bun" "configure bun" }}
{{- $go := promptBoolOnce . "go" "configure go" }}
{{- $postgres := promptBoolOnce . "postgres" "configure postgres" }}
{{- $python := promptBoolOnce . "python" "configure python" }}
{{- $fuck := promptBoolOnce . "fuck" "configure fuck" }}
{{- $gcp := promptBoolOnce . "gcp" "configure google cloud" }}

{{- $asdf := promptBoolOnce . "asdf.use" "use asdf" }}
{{- $nodejs := promptBoolOnce . "asdf.nodejs" "configure asdf nodejs" }}
{{- $elixir := promptBoolOnce . "asdf.elixir" "configure asdf elixir" }}
{{- $clojure := promptBoolOnce . "asdf.clojure" "configure asdf clojure" }}
{{- $java := promptBoolOnce . "asdf.java" "configure asdf java" -}}

[data]
  init = {{ $init }}
  bun = {{ $bun }}
  fuck = {{ $fuck }}
  gcp = {{ $gcp }}
  go = {{ $go }}
  gui = {{ $gui }}
  postgres = {{ $postgres }}
  python = {{ $python }}

[data.asdf]
  use = {{ $asdf }}
  clojure = {{ $clojure }}
  elixir = {{ $elixir }}
  nodejs = {{ $nodejs }}
  java = {{ $java }}
