# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# ==========
# Oh-My-Zsh
# ==========

# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

# Set name of the theme to load.
ZSH_THEME="powerlevel10k/powerlevel10k"

# For fzf plugin
export FZF_BASE=$HOME/.fzf
export FZF_DEFAULT_COMMAND='rg --files'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# ZSH Plugins
plugins=(git vi-mode fzf asdf zsh-syntax-highlighting)

# Oh-my-zsh
source $ZSH/oh-my-zsh.sh

export TERM=xterm-256color
export COLORTERM=truecolor

# =====
# Path
# =====

# Add repos to path
export PATH="$HOME/repos/bin:$PATH"
# Add local bin to path
export PATH="./bin:$PATH"
# Add home bin to path
export PATH="$HOME/bin:$PATH"

# ======
# Tools
# ======

# square brackets
unsetopt nomatch

# FZF Fuzzy Search
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# tmux
source ~/.bin/tmuxinator.zsh
alias mux=tmuxinator

# lazygit
alias lg='lazygit'

# You may need to manually set your language environment
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='vim'
fi

# ========
# Aliases
# ========

alias gpf='git push --force-with-lease'
alias gcb='git checkout -b'
alias gprom='git pull --rebase origin main'

# Pomodoro timers
alias pom='termdown 25m && say done'
alias pom5='termdown 5m && say done'
alias pom3='termdown 2m && say done'

# ========
# Vi-mode
# ========

# Vi-mode indicator
export MODE_INDICATOR="%{$fg_bold[green]%}[NORMAL]%{$reset_color%}"

# Faster swtich to normal mode
export KEYTIMEOUT=1
# Better searching in command mode
bindkey -M vicmd '?' history-incremental-search-backward
bindkey -M vicmd '/' history-incremental-search-forward

# Beginning search with arrow keys
bindkey "^[[A" up-line-or-beginning-search
bindkey "^[[B" down-line-or-beginning-search
bindkey -M vicmd "k" up-line-or-beginning-search
bindkey -M vicmd "j" down-line-or-beginning-search

# Beginning of line with _
bindkey -M vicmd "_" vi-beginning-of-line

# ============
# OS-specific
# ============

{{- if eq .chezmoi.os "darwin" }}
# Mac OSX
alias vi='nvim'
alias vim='nvim'
{{- else if eq .chezmoi.os "linux" }}
# Linux
if [ -n "$SSH_CLIENT" ] || [ -n "$SSH_TTY" ]; then
  # SSH to linux
elif grep -Fq "Microsoft" /proc/version; then
  # Windows Bash
else
  # Normal lunux desktop
  if [ -x "$(command -v setxkbmap)" ]; then
    setxkbmap -option caps:escape
  fi
  eval `dircolors $HOME/.dir_colors/dircolors`
fi
{{- end }}

# Alias private stuff
if [ -e "$HOME/.zshrc_private" ]
then
  source $HOME/.zshrc_private
fi

# ==========
# Languages
# ==========


{{- if .asdf.use }}
source "${XDG_CONFIG_HOME:-$HOME/.config}/asdf-direnv/zshrc"
export DIRENV_LOG_FORMAT=""
{{- end }}


{{- if .go }}
# Go
export PATH="/usr/local/go/bin:$PATH"
export PATH="$HOME/go/bin:$PATH"

export GOPATH="$HOME/repos/go"
export PATH="$GOPATH/bin:$PATH"
{{- end }}

{{- if .python }}
# Python

# Python poetry
export PATH="$HOME/.poetry/bin:$PATH"

# pyenv
# export PATH="$HOME/.pyenv/bin:$PATH"
# if [ -x "$(command -v pyenv)" ]; then
#   eval "$(pyenv init -)"
#   eval "$(pyenv virtualenv-init -)"
# fi

# eval "$(pdm --pep582)"
{{- end }}

{{- if .asdf.java }}
# Java
export JAVA_HOME="/Library/Java/Home"
. ~/.asdf/plugins/java/set-java-home.zsh
# Remember to symlink this to the right place
export TOMCAT_HOME=/usr/local/Cellar/tomcat/8.5.15/libexec/
{{- end }}

# pnpm
export PNPM_HOME="/Users/wow/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

export PATH="/opt/homebrew/opt/libpq/bin:$PATH"
export PATH="/opt/homebrew/bin:$PATH"

{{- if .gcp }}
# GCP

# The next line enables shell command completion for gcloud.
if [ -f '/Users/wow/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/wow/google-cloud-sdk/completion.zsh.inc'; fi
{{- end }}

{{- if .bun }}
# Bun
# bun completions
[ -s "/home/wow/.bun/_bun" ] && source "/home/wow/.bun/_bun"

export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
{{- end }}

{{ if .fuck }}
eval $(thefuck --alias)
{{ end }}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
