[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[pager]
	branch = false
[push]
	default = current
[user]
	email = will@willwow.dev
	name = Will Ockelmann-Wagner
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
[alias]
  rc = -c core.editor=true rebase --continue

